@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.pricing-btn {
  text-decoration: underline;
  font-size: 0.9rem;
  color: #3829e0;
  font-weight: 700;
  border-style: none;
  background: transparent;
}
@media only screen and (min-width: 62rem) {
  .pricing-btn:hover, .pricing-btn:focus {
    text-decoration: none;
    opacity: 0.7;
    cursor: pointer;
  }
}

.pay-btn {
  border-style: none;
  border-radius: 0.5rem;
  background-color: #3829e0;
  color: #fff;
  padding: 0.7rem 0rem;
  font-weight: 700;
  box-shadow: 0px 12px 15px rgba(114, 128, 167, 0.4);
  width: 100%;
}
@media only screen and (min-width: 62rem) {
  .pay-btn:hover, .pay-btn:focus {
    opacity: 0.7;
    cursor: pointer;
  }
}

.cancel-btn {
  text-decoration: none;
  border-style: none;
  background: transparent;
  color: #7280a7;
  font-weight: 700;
}
@media only screen and (min-width: 62rem) {
  .cancel-btn:hover, .cancel-btn:focus {
    color: #1f2f56;
    cursor: pointer;
  }
}

body {
  font-family: Red Hat Display, sans-serif;
  background: url(https://user-images.githubusercontent.com/49578782/152895356-6e3089d2-ca35-47dc-a218-8fa80785035d.svg) top/contain no-repeat;
  background-color: #e0e8ff;
  display: grid;
  place-content: center;
  padding: 1rem;
}
@media only screen and (min-width: 62rem) {
  body {
    background: url(https://user-images.githubusercontent.com/49578782/152895306-c24269c4-1e22-4956-95bd-49cb50437cd2.svg) top/contain no-repeat;
    background-color: #e0e8ff;
  }
}

.card__container {
  max-width: 20.5rem;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
}
@media only screen and (min-width: 62rem) {
  .card__container {
    max-width: 25rem;
  }
}
.card__container .hero__img {
  height: 100%;
  width: 100%;
}
.card__container .card__content {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.card__container h1 {
  color: #1f2f56;
  font-weight: 900;
}
.card__container p {
  text-align: center;
  color: #7280a7;
}
.card__container .pricing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.5rem;
  background-color: #f5f7ff;
  width: 100%;
}
.card__container .pricing .pricing__plan {
  list-style: none;
  margin-left: -3.5rem;
}
@media only screen and (min-width: 62rem) {
  .card__container .pricing .pricing__plan {
    margin-left: -5rem;
  }
}
.card__container .pricing .pricing__plan .plan__type {
  font-weight: 900;
  color: #1f2f56;
}
.card__container .pricing .pricing__plan .plan__price {
  color: #7280a7;
  font-weight: 500;
}

footer {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #3e52a3;
}