@use "config";

// button to change payment type
.pricing-btn {
  text-decoration: underline;
  font-size: 0.9rem;
  color: config.$bright_blue;
  font-weight: config.weight(bold);
  border-style: none;
  background: transparent;

  // media query for desktop
  @include config.responsive(desktop) {
    &:hover,
    &:focus {
      text-decoration: none;
      opacity: 0.7;
      cursor: pointer;
    }
  }
}

// button for payment
.pay-btn {
  border-style: none;
  border-radius: 0.5rem;
  background-color: config.$bright_blue;
  color: #fff;
  padding: 0.7rem 0rem;
  font-weight: config.weight(bold);
  box-shadow: 0px 12px 15px rgba(config.$desaturated_blue, 0.4);
  width: 100%;

  // media query for desktop
  @include config.responsive(desktop) {
    &:hover,
    &:focus {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}

// button for cancellation
.cancel-btn {
  text-decoration: none;
  border-style: none;
  background: transparent;
  color: config.$desaturated_blue;
  font-weight: config.weight(bold);

  // media query for desktop
  @include config.responsive(desktop) {
    &:hover,
    &:focus {
      color: config.$dark_blue;
      cursor: pointer;
    }
  }
}
