@use "config";

// buttong to change to yearly or monthly plan
.pricing-btn {
  text-decoration: underline;
  font-size: 0.9rem;
  color: config.$bright_blue;
  font-weight: config.weight(bold);
  display: block;

  // media query for desktop
  @include config.responsive(desktop) {
    max-width: 25rem;
  }

  &:hover {
    text-decoration: none;
    opacity: 0.7;
  }
}

// button to proceed to payment
.pay-btn {
  display: block;
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: config.$bright_blue;
  color: #fff;
  padding: 0.7rem 4rem;
  font-weight: config.weight(bold);
  box-shadow: 0px 12px 15px rgba(config.$desaturated_blue, 0.4);

  // media query for desktop
  @include config.responsive(desktop) {
    max-width: 25rem;
  }

  &:hover {
    opacity: 0.7;
  }
}

// button to cancel order
.cancel-btn {
  display: block;
  text-decoration: none;
  color: config.$desaturated_blue;
  font-weight: config.weight(bold);
  margin-bottom: 1.5rem;

  // media query for desktop
  @include config.responsive(desktop) {
    max-width: 25rem;
  }

  &:hover {
    color: config.$dark_blue;
  }
}
