@use "reset";
@use "config";
@use "buttons";

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

body {
  font-family: config.$font-family;
  background: url(https://user-images.githubusercontent.com/49578782/152895356-6e3089d2-ca35-47dc-a218-8fa80785035d.svg) top/contain no-repeat;
  background-color: config.$pale_blue;
  display: grid;
  place-content: center;
  padding: 1rem;

  // media query for desktop
  @include config.responsive(desktop) {
    background: url(https://user-images.githubusercontent.com/49578782/152895306-c24269c4-1e22-4956-95bd-49cb50437cd2.svg) top/contain no-repeat;
    background-color: config.$pale_blue;
  }
}

.card__container {
  // media query for desktop
  @include config.responsive(desktop) {
    max-width: 25rem;
  }

  max-width: 20.5rem;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;

  .hero__img {
    height: 100%;
    width: 100%;
  }

  .card__content {
    padding: 1.6rem;
    @include config.flex(column);
    align-items: center;
    gap: 1.5rem;
  }

  h1 {
    color: config.$dark_blue;
    font-weight: config.weight(extra__bold);
  }

  p {
    text-align: center;
    color: config.$desaturated_blue;
  }

  .pricing {
    @include config.flex(row);
    align-items: center;
    justify-content: space-around;
    border-radius: 0.5rem;
    background-color: config.$very_pale_blue;
    width: 100%;

    .pricing__plan {
      list-style: none;
      margin-left: -3.5rem;

      // media query for desktop
      @include config.responsive(desktop) {
        margin-left: -5rem;
      }

      .plan__type {
        font-weight: config.weight(extra__bold);
        color: config.$dark_blue;
      }

      .plan__price {
        color: config.$desaturated_blue;
        font-weight: config.weight(medium);
      }
    }
  }
}

footer {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;

  a {
    text-decoration: none;
    color: hsl(228, 45%, 44%);
  }
}
